BR2_arm=y
BR2_cortex_a5=y
# BR2_ARM_ENABLE_VFP=y
BR2_ARM_INSTRUCTIONS_THUMB2=y
BR2_PACKAGE_HOST_LINUX_HEADERS_4_9=y

BR2_INIT_BUSYBOX=y
BR2_TARGET_ROOTFS_UBIFS=y
BR2_TARGET_ROOTFS_UBIFS_LEBSIZE=0x1f000
BR2_TARGET_ROOTFS_UBI=y
BR2_TARGET_ROOTFS_UBI_SUBSIZE=2048
BR2_KERNEL_HEADERS_4_9=y
BR2_TARGET_GENERIC_GETTY_BAUDRATE_115200=y
BR2_TARGET_GENERIC_GETTY_PORT=ttyS0
BR2_TARGET_GENERIC_GETTY=y

BR2_PACKAGE_PYTHON=y
BR2_PACKAGE_PYTHON_SERIAL=y
BR2_TARGET_ROOTFS_EXT2=y

BR2_TARGET_ROOTFS_INITRAMFS=y
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
