BR2_arm=y
BR2_cortex_a5=y
BR2_ARM_ENABLE_NEON=y
BR2_ARM_ENABLE_VFP=y
BR2_TOOLCHAIN_EXTERNAL=y
BR2_ROOTFS_POST_IMAGE_SCRIPT="support/scripts/genimage.sh"
BR2_ROOTFS_POST_SCRIPT_ARGS="-c board/startrack/genimage-startrack.cfg"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://github.com/mcoromac/linux-at91.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="fprint"
BR2_LINUX_KERNEL_DEFCONFIG="p_a5_tab_reva"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="p_a5_tab_reva"
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_TARGET_AT91BOOTSTRAP3=y
BR2_TARGET_AT91BOOTSTRAP3_CUSTOM_GIT=y
BR2_TARGET_AT91BOOTSTRAP3_CUSTOM_REPO_URL="https://github.com/mcoromac/at91bootstrap.git"
BR2_TARGET_AT91BOOTSTRAP3_CUSTOM_REPO_VERSION="LT"
BR2_TARGET_AT91BOOTSTRAP3_DEFCONFIG="p_a5_tab_revaemmc"
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_GIT=y
BR2_TARGET_UBOOT_CUSTOM_REPO_URL="https://github.com/mcoromac/u-boot-at91.git"
BR2_TARGET_UBOOT_CUSTOM_REPO_VERSION="test2"
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="p_a5_tab_reva"
BR2_TARGET_UBOOT_NEEDS_DTC=y
BR2_PACKAGE_HOST_DOSFSTOOLS=y
BR2_PACKAGE_HOST_GENIMAGE=y
BR2_PACKAGE_HOST_MTOOLS=y
BR2_PACKAGE_HOST_SAM_BA=y
BR2_PACKAGE_PYTHON=y
BR2_PACKAGE_PYTHON_READLINE=y
BR2_PACKAGE_PYTHON_SERIAL=y
BR2_PACKAGE_PYTHON_SPIDEV=y
BR2_PACKAGE_SPIDEV_TEST=y
BR2_PACKAGE_JAMVM=y
BR2_PACKAGE_NANO=y
BR2_PACKAGE_USBMOUNT=y
BR2_PACKAGE_LSSCSI=y
BR2_PACKAGE_HWDATA=y
BR2_PACKAGE_USBUTILS=y
BR2_PACKAGE_SPI_TOOLS=y
BR2_PACKAGE_LIBSOC=y	
BR2_PACKAGE_MOTION=y
BR2_PACKAGE_OPENSSL=y
BR2_PACKAGE_LIBNSS=y
BR2_PACKAGE_LIBGLIB2=y
BR2_PACKAGE_LIBUSB=y
BR2_PACKAGE_PIXMAN=y
BR2_ROOTFS_DEVICE_CREATION_STATIC=n
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_DEVTMPFS=n
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_MDEV=n
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
BR2_PACKAGE_HOST_PKGCONF=y
BR2_PACKAGE_LIBFPRINT=y
BR2_ROOTFS_OVERLAY="board/startrack/tab6/rootfs-overlay"
BR2_PACKAGE_FINGERPRINT=y
BR2_PACKAGE_STRACE=y
BR2_PACKAGE_PYTHON_PYFPRINT=n
BR2_PACKAGE_PYTHON_FPRYNT=y
BR2_COMPILER_PARANOID_UNSAFE_PATH=n
BR2_PACKAGE_BOOST=y
BR2_PACKAGE_BOOST_PYTHON=y